.register-form {
    max-width: 500px;
}

.email-validation {
    height: 1px;
}

.email-field {
    border-color: #ced4da;
}

@media (max-width: 500px) {
    .register-form {
        max-width:none;
        min-width: 250px;
        padding-left: 0%;
        padding-right: 0%;
    }
}