.task-type-list {
    padding-left: 0;
    list-style: none;
    height: 160px;
    overflow: auto;
}

.task-types-dropdown .dropdown-menu {
    width: 250px;
}

.task-types-dropdown .dropdown-item {
    padding-right: 0.5Rem;
}

.task-types-dropdown .selected > * {
    color: #fff;
    background-color: #007bff;
}

.task-type-edit {
    cursor: pointer;
    height: 100%;
    padding: 0.25Rem 1Rem 0.25Rem 1.5Rem;
}

.task-types-dropdown .dropdown-item:active {
    color: black !important;
    background-color: white !important;
}

.task-types-dropdown .selected .dropdown-item:focus, .dropdown-item:active {
    color: #fff !important;
    background-color: #007bff !important;
}

.fetch-types-btn {
    font-size: .875rem;
    line-height: 1.5;
    color: #6c757d;
    width: 100%;
    height: 2Rem;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}