.fetch-types-btn {
    font-size: .875rem;
    line-height: 1.5;
    color: #6c757d;
    width: 100%;
    height: 2Rem;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
}