@import '../../static/style/bscstrap.less';

.task-list-header {
    display: flex;
    height: 40px;

    background-color: @background;
    border-radius: 10px;

    padding: .5Rem .75Rem;
    margin-bottom: 10px;

    .task-checkbox {
        margin-top: .35Rem;
        margin-left: .25Rem;
    }

    .selected-task-counter {
        font-size: 12px;
        color: #6c757d;
        width: 100%;
        padding-left: .5Rem;
        padding-top: 4px;
    }
}

.none-parent {
    display: none;

    & > * {
        display: none;
    }
}