.task-types-dropdown {
    .dropdown-item {
        padding-right: 0.5Rem;
    }
    
    .dropdown-menu span.text-truncate {
        max-width: 200px;
    }
}

.task-type-action {
    cursor: pointer;
    padding: 0.12Rem 0.5Rem;
}

.type-color-circle {
    width: 18px;
    height: 18px;
    border-radius: .25rem;
    margin-right: .75Rem;
    margin-top: .2Rem;
}

.minw-0 {
    min-width: 0; 
}

.task-types-dropdown.bordered .dropdown-toggle {
    border: 1px solid #dee2e6!important;
}