.course-hierarchy {
    padding-bottom: .5Rem;

    border: 1px solid #dee2e6;
    border-radius: .25rem!important;
    overflow: auto;
}

.course-panel {
    height: 70vh;
    min-height: 200px;
}

.course-hierarchy .process-bar {
    margin-bottom: .5Rem;
}

.no-courses {
    text-align: center;
    padding-top: 1Rem;
}

.no-courses p {
    width: 85%;
    margin: 0 auto;
}

.no-courses a {
    cursor: pointer;
    font-weight: 400;
    color: #007bff !important;
}