@import '../../static/style/bscstrap.less';

.scroll-container {
    height: 100%;
    overflow: auto;
}

.course-panel {
    height: 70vh;
    min-height: 200px;

    overflow: hidden;
    position: relative;
}

.no-courses {
    text-align: center;
    padding-top: 1Rem;
}

.no-courses p {
    width: 85%;
    margin: 0 auto;
}

.no-courses a {
    cursor: pointer;
    font-weight: 400;
    color: #007bff !important;
}

.courses-block {
    background-color: @background-light;
    border-radius: 20px;
    padding: 12px 16px;

    .courses-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        h5 {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: @darkGray;
        }
    }
}