.groups-enter {
  opacity: 0.01;
}

.groups-enter.groups-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.groups-leave {
  opacity: 1;
}

.groups-leave.groups-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}