.homework-task-item {
    &:hover {
        background-color: rgba(0, 0, 0, 0.01);

        & .btn-icon {
            opacity: 1;
        }
    }

    & .dropdown-action-menu.show i {
        opacity: 1;
    }

    & .dropdown-action-menu.show + .btn-icon {
        opacity: 1;
    }
}

.homework-task-item .btn-icon {
    opacity: 0.2;
    color: #004085;
}

.primary-select {
    .dropdown-toggle {
        border-color: #00408575!important;
    }

    .dropdown-menu {
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    }
}

.light-primary-input {
    background-color: #cce5ff;
    border: 1px solid #00408575;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.light-primary-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.border-light-primary {
    border-color: rgba(0, 123, 255, 0.8) !important;
}

.text-light-primary {
    color: #a3c4e7
}

.homework-btn-bottom {
    position: absolute;
    bottom: 0;
}